{% extends "layout.html" %}

{% block body %}
    <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h3 class="fw-bolder mb-1">{{article.titel}}</h3>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on {{article.created_date}}</div>
                            <div class="text-muted fst-italic mb-2">by {{article.author}}</div>
                        </header>
                        <!-- Preview image figure-->
                        <!-- <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure> -->
                        <!-- Post content-->
                        <section class="mb-5">
                            <p>
                                {{article.content}}
                            </p>
                        </section>
                    </article>
                    
                </div>
                <div class="col-lg-4">
                    
                </div>
            </div>
        </div>

{% endblock body %}